In [10]:
!pip install pymongo

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pymongo in c:\users\sebi-pc\desktop\project python\project3\venv\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\sebi-pc\desktop\project python\project3\venv\lib\site-packages (from pymongo) (2.3.0)

In [1]:
# demo_mongodb_test.py:
import pymongo

In [18]:
import pymongo
# Replace the uri string with your MongoDB deployment's connection string.
conn_str = "mongodb+srv://dbuser123:12345@cluster0.1qqowux.mongodb.net/?retryWrites=true&w=majority"
# set a 5-second connection timeout
myclient = pymongo.MongoClient(conn_str, serverSelectionTimeoutMS=5000)
try:
    print(client.server_info())
except Exception:
    print("Unable to connect to the server.")
    

    
# Create a database
mydb = myclient["mydatabase"]

mycol = mydb["customers"]

# Check if the database has been created
print("Databases in MongoDB: ", client.list_database_names())

{'version': '5.0.14', 'gitVersion': '1b3b0073a0b436a8a502b612f24fb2bd572772e5', 'modules': ['enterprise'], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [5, 0, 14, 0], 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'ephemeralForTest', 'inMemory', 'queryable_wt', 'wiredTiger'], 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1675763314, 972), 'signature': {'hash': b'/\x86a\xf8\x96\x0bWu\x01T\x0c;S\xabs\x87\x02\x88D\x98', 'keyId': 7144315404087721985}}, 'operationTime': Timestamp(1675763314, 971)}
Databases in MongoDB:  ['mydatabase', 'admin', 'local']

## Insert Document

To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [20]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

## Return ID Field

The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.

Insert another record in the "customers" collection, and return the value of the _id field:

In [22]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

63e22fc5dc4b26e7f6421169

## Insert multiple documents

To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [23]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('63e2300adc4b26e7f642116a'), ObjectId('63e2300adc4b26e7f642116b'), ObjectId('63e2300adc4b26e7f642116c'), ObjectId('63e2300adc4b26e7f642116d'), ObjectId('63e2300adc4b26e7f642116e'), ObjectId('63e2300adc4b26e7f642116f'), ObjectId('63e2300adc4b26e7f6421170'), ObjectId('63e2300adc4b26e7f6421171'), ObjectId('63e2300adc4b26e7f6421172'), ObjectId('63e2300adc4b26e7f6421173'), ObjectId('63e2300adc4b26e7f6421174'), ObjectId('63e2300adc4b26e7f6421175')]

## Insert Multiple Documents, with Specified IDs

If you do not want MongoDB to assign unique ids for you document, you can specify the _id field when you insert the document(s).
Remember that the values has to be unique. Two documents cannot have the same _id.

In [24]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## Find One and Find All

To select data from a collection in MongoDB, we can use the find_one() method.

The find_one() method returns the first occurrence in the selection.

To select data from a table in MongoDB, we can also use the find() method.

The find() method returns all occurrences in the selection.

The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.

No parameters in the find() method gives you the same result as SELECT * in MySQL.

In [25]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('63e217cadc4b26e7f6421158'), 'name': 'John', 'address': 'Highway 37'}

In [26]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():
    print(x)

{'_id': ObjectId('63e217cadc4b26e7f6421158'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e217d4dc4b26e7f6421159'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63e21806dc4b26e7f642115a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63e21806dc4b26e7f642115b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e21806dc4b26e7f642115c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e21806dc4b26e7f642115d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e21806dc4b26e7f642115e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e21806dc4b26e7f642115f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e21806dc4b26e7f6421160'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e21806dc4b26e7f6421161'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e21806dc4b26e7f6421162'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e21806dc4b26e7f6421163'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63e21806dc4b26e7f6421164'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e21806dc4b26e7f6421165'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63e21e7cdc4b26e7f6421167'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e21ec8dc4b26e7f6421168'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e22fc5dc4b26e7f6421169'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63e2300adc4b26e7f642116a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63e2300adc4b26e7f642116b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e2300adc4b26e7f642116c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e2300adc4b26e7f642116d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e2300adc4b26e7f642116e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e2300adc4b26e7f642116f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e2300adc4b26e7f6421170'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e2300adc4b26e7f6421171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e2300adc4b26e7f6421172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e2300adc4b26e7f6421173'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63e2300adc4b26e7f6421174'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e2300adc4b26e7f6421175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Return some rows only

The second parameter of the find() method is an object describing which fields to include in the result.

This parameter is optional, and if omitted, all fields will be included in the result.

In [30]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]
for x in mycol.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('63e217cadc4b26e7f6421158'), 'name': 'John'}
{'_id': ObjectId('63e217d4dc4b26e7f6421159'), 'name': 'Peter'}
{'_id': ObjectId('63e21806dc4b26e7f642115a'), 'name': 'Amy'}
{'_id': ObjectId('63e21806dc4b26e7f642115b'), 'name': 'Hannah'}
{'_id': ObjectId('63e21806dc4b26e7f642115c'), 'name': 'Michael'}
{'_id': ObjectId('63e21806dc4b26e7f642115d'), 'name': 'Sandy'}
{'_id': ObjectId('63e21806dc4b26e7f642115e'), 'name': 'Betty'}
{'_id': ObjectId('63e21806dc4b26e7f642115f'), 'name': 'Richard'}
{'_id': ObjectId('63e21806dc4b26e7f6421160'), 'name': 'Susan'}
{'_id': ObjectId('63e21806dc4b26e7f6421161'), 'name': 'Vicky'}
{'_id': ObjectId('63e21806dc4b26e7f6421162'), 'name': 'Ben'}
{'_id': ObjectId('63e21806dc4b26e7f6421163'), 'name': 'William'}
{'_id': ObjectId('63e21806dc4b26e7f6421164'), 'name': 'Chuck'}
{'_id': ObjectId('63e21806dc4b26e7f6421165'), 'name': 'Viola'}
{'_id': ObjectId('63e21e7cdc4b26e7f6421167'), 'name': 'John'}
{'_id': ObjectId('63e21ec8dc4b26e7f6421168'), 'name': 'John'}
{'_id': ObjectId('63e22fc5dc4b26e7f6421169'), 'name': 'Peter'}
{'_id': ObjectId('63e2300adc4b26e7f642116a'), 'name': 'Amy'}
{'_id': ObjectId('63e2300adc4b26e7f642116b'), 'name': 'Hannah'}
{'_id': ObjectId('63e2300adc4b26e7f642116c'), 'name': 'Michael'}
{'_id': ObjectId('63e2300adc4b26e7f642116d'), 'name': 'Sandy'}
{'_id': ObjectId('63e2300adc4b26e7f642116e'), 'name': 'Betty'}
{'_id': ObjectId('63e2300adc4b26e7f642116f'), 'name': 'Richard'}
{'_id': ObjectId('63e2300adc4b26e7f6421170'), 'name': 'Susan'}
{'_id': ObjectId('63e2300adc4b26e7f6421171'), 'name': 'Vicky'}
{'_id': ObjectId('63e2300adc4b26e7f6421172'), 'name': 'Ben'}
{'_id': ObjectId('63e2300adc4b26e7f6421173'), 'name': 'William'}
{'_id': ObjectId('63e2300adc4b26e7f6421174'), 'name': 'Chuck'}
{'_id': ObjectId('63e2300adc4b26e7f6421175'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [33]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('63e217cadc4b26e7f6421158'), 'name': 'John'}
{'_id': ObjectId('63e217d4dc4b26e7f6421159'), 'name': 'Peter'}
{'_id': ObjectId('63e21806dc4b26e7f642115a'), 'name': 'Amy'}
{'_id': ObjectId('63e21806dc4b26e7f642115b'), 'name': 'Hannah'}
{'_id': ObjectId('63e21806dc4b26e7f642115c'), 'name': 'Michael'}
{'_id': ObjectId('63e21806dc4b26e7f642115d'), 'name': 'Sandy'}
{'_id': ObjectId('63e21806dc4b26e7f642115e'), 'name': 'Betty'}
{'_id': ObjectId('63e21806dc4b26e7f642115f'), 'name': 'Richard'}
{'_id': ObjectId('63e21806dc4b26e7f6421160'), 'name': 'Susan'}
{'_id': ObjectId('63e21806dc4b26e7f6421161'), 'name': 'Vicky'}
{'_id': ObjectId('63e21806dc4b26e7f6421162'), 'name': 'Ben'}
{'_id': ObjectId('63e21806dc4b26e7f6421163'), 'name': 'William'}
{'_id': ObjectId('63e21806dc4b26e7f6421164'), 'name': 'Chuck'}
{'_id': ObjectId('63e21806dc4b26e7f6421165'), 'name': 'Viola'}
{'_id': ObjectId('63e21e7cdc4b26e7f6421167'), 'name': 'John'}
{'_id': ObjectId('63e21ec8dc4b26e7f6421168'), 'name': 'John'}
{'_id': ObjectId('63e22fc5dc4b26e7f6421169'), 'name': 'Peter'}
{'_id': ObjectId('63e2300adc4b26e7f642116a'), 'name': 'Amy'}
{'_id': ObjectId('63e2300adc4b26e7f642116b'), 'name': 'Hannah'}
{'_id': ObjectId('63e2300adc4b26e7f642116c'), 'name': 'Michael'}
{'_id': ObjectId('63e2300adc4b26e7f642116d'), 'name': 'Sandy'}
{'_id': ObjectId('63e2300adc4b26e7f642116e'), 'name': 'Betty'}
{'_id': ObjectId('63e2300adc4b26e7f642116f'), 'name': 'Richard'}
{'_id': ObjectId('63e2300adc4b26e7f6421170'), 'name': 'Susan'}
{'_id': ObjectId('63e2300adc4b26e7f6421171'), 'name': 'Vicky'}
{'_id': ObjectId('63e2300adc4b26e7f6421172'), 'name': 'Ben'}
{'_id': ObjectId('63e2300adc4b26e7f6421173'), 'name': 'William'}
{'_id': ObjectId('63e2300adc4b26e7f6421174'), 'name': 'Chuck'}
{'_id': ObjectId('63e2300adc4b26e7f6421175'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

## Query

To make advanced queries you can use modifiers as values in the query object.

E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: {"$gt": "S"}:

In [34]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63e21806dc4b26e7f6421162'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e2300adc4b26e7f6421172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [36]:
# Find documents where the address starts with the letter "S" or higher:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63e21806dc4b26e7f642115c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e21806dc4b26e7f642115f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e21806dc4b26e7f6421161'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e21806dc4b26e7f6421165'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63e2300adc4b26e7f642116c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e2300adc4b26e7f642116f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e2300adc4b26e7f6421171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e2300adc4b26e7f6421175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Filter

You can also use regular expressions as a modifier.

Regular expressions can only be used to query strings.

To find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:

In [37]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63e21806dc4b26e7f642115f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e21806dc4b26e7f6421165'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63e2300adc4b26e7f642116f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e2300adc4b26e7f6421175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [38]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('63e21806dc4b26e7f6421163'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63e2300adc4b26e7f6421173'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63e21806dc4b26e7f6421165'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63e2300adc4b26e7f6421175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63e21806dc4b26e7f6421161'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e2300adc4b26e7f6421171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e21806dc4b26e7f6421160'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e2300adc4b26e7f6421170'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e21806dc4b26e7f642115d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e2300adc4b26e7f642116d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e21806dc4b26e7f642115f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e2300adc4b26e7f642116f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e217d4dc4b26e7f6421159'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63e22fc5dc4b26e7f6421169'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63e21806dc4b26e7f642115c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e2300adc4b26e7f642116c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e217cadc4b26e7f6421158'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e21e7cdc4b26e7f6421167'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e21ec8dc4b26e7f6421168'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e21806dc4b26e7f642115b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e2300adc4b26e7f642116b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e21806dc4b26e7f6421164'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e2300adc4b26e7f6421174'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e21806dc4b26e7f642115e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e2300adc4b26e7f642116e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e21806dc4b26e7f6421162'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e2300adc4b26e7f6421172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e21806dc4b26e7f642115a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63e2300adc4b26e7f642116a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

Use the value -1 as the second parameter to sort descending.

sort("name", 1) #ascending

sort("name", -1) #descending

In [39]:
mydoc = mycol.find().sort("name", 1)

for x in mydoc:
    print(x)

{'_id': ObjectId('63e21806dc4b26e7f642115a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63e2300adc4b26e7f642116a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63e21806dc4b26e7f6421162'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e2300adc4b26e7f6421172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e21806dc4b26e7f642115e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e2300adc4b26e7f642116e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e21806dc4b26e7f6421164'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e2300adc4b26e7f6421174'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e21806dc4b26e7f642115b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e2300adc4b26e7f642116b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e217cadc4b26e7f6421158'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e21e7cdc4b26e7f6421167'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e21ec8dc4b26e7f6421168'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e21806dc4b26e7f642115c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e2300adc4b26e7f642116c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e217d4dc4b26e7f6421159'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63e22fc5dc4b26e7f6421169'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63e21806dc4b26e7f642115f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e2300adc4b26e7f642116f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e21806dc4b26e7f642115d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e2300adc4b26e7f642116d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e21806dc4b26e7f6421160'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e2300adc4b26e7f6421170'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e21806dc4b26e7f6421161'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e2300adc4b26e7f6421171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e21806dc4b26e7f6421165'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63e2300adc4b26e7f6421175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63e21806dc4b26e7f6421163'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63e2300adc4b26e7f6421173'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

## Update 

You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.

Note: If the query finds more than one record, only the first occurrence is updated.
The second parameter is an object defining the new values of the document.

In [40]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('63e217cadc4b26e7f6421158'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e217d4dc4b26e7f6421159'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63e21806dc4b26e7f642115a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63e21806dc4b26e7f642115b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e21806dc4b26e7f642115c'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63e21806dc4b26e7f642115d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e21806dc4b26e7f642115e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e21806dc4b26e7f642115f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e21806dc4b26e7f6421160'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e21806dc4b26e7f6421161'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e21806dc4b26e7f6421162'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e21806dc4b26e7f6421163'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63e21806dc4b26e7f6421164'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e21806dc4b26e7f6421165'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63e21e7cdc4b26e7f6421167'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e21ec8dc4b26e7f6421168'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e22fc5dc4b26e7f6421169'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63e2300adc4b26e7f642116a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63e2300adc4b26e7f642116b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e2300adc4b26e7f642116c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e2300adc4b26e7f642116d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e2300adc4b26e7f642116e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e2300adc4b26e7f642116f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e2300adc4b26e7f6421170'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e2300adc4b26e7f6421171'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e2300adc4b26e7f6421172'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e2300adc4b26e7f6421173'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63e2300adc4b26e7f6421174'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e2300adc4b26e7f6421175'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [41]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

6 documents updated.